@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat ExtraBold.ttf') format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat Lighter.ttf') format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}